@model List<ShopNuocOnline.Models.Cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}

<h2>Cart</h2>
<div class="container m-5">
    @if (Model != null && Model.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên SP</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@(count++)</th>
                        <td>@item.Name</td>
                        <td><img src="@item.Image" style="height: 100px"/></td>
                        <td>$@item.Price</td>
                        <td>@item.Qty</td>
                        <td><a href="/Cart/RemoveItem/@item.Id">Xóa</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>
            Giỏ hàng hiện đang rỗng...
        </h2>}

</div>