
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .list_new{
        display:grid;
        grid-template-columns:auto auto auto;
        gap:25px
    }
    .list_new img{
        width:100%;
        height:70%;
        object-fit:cover;
    }
</style>
<h1>Tin Tức</h1>
<div class="container">
    <div class="list_new mt-5">
        <div class="item">
            <img src="~/Assets//images/470_crop_HCO-7689-TET-2023-DIGITAL-WEB-NEWS-THUMBNAIL-470X314.jpg" />
            <span class="text-center ">
                <p class="font-weight-bold pt-2" >VỊ COOL SẢNG KHOÁI, TRÀ DƯA HẤU VẢI</p>
                <p><i class="fa-regular fa-calendar-days pr-2"></i>17/03/2023, 18:42</p>
            </span>
        </div>
        <div class="item">
            <img src="~/Assets//images/470_crop_HCO-7693-OB-FEB-2023-SOCIAL-NEWS.jpg" />
            <span class="text-center ">
                <p class="font-weight-bold pt-2">MẠNH MẼ LÀM ĐIỀU MÌNH YÊU!</p>
                <p><i class="fa-regular fa-calendar-days pr-2"></i>06/03/2023, 08:21</p>
            </span>
        </div>
        <div class="item">
            <img src="~/Assets/images/470_crop_HCO-7695-SUMMER-TEA-2023-DIGITAL-NEWS-THUMBNAIL.jpg" />
            <span class="text-center ">
                <p class="font-weight-bold pt-2">HẸN YÊU TẠI HIGHLANDS - SAU VALENTINE VẪN CÒN CHỖ ĐỂ TA GẶP NHAU!</p>
                <p><i class="fa-regular fa-calendar-days pr-2"></i>20/02/2023, 23:02</p>
            </span>
        </div>
        <div class="item">
            <img src="~/Assets/images/470_crop_HYN_YEU_KV_9X9 (1).png" />
            <span class="text-center ">
                <p class="font-weight-bold pt-2">APP NÀY LÀ CỦA CHÚNG MÌNH</p>
                <p><i class="fa-regular fa-calendar-days pr-2"></i>10/01/2023, 00:00</p>
            </span>
        </div>
        <div class="item">
            <img src="~/Assets/images/470_crop_HYN_YEU_KV_9X9.png" />
            <span class="text-center ">
                <p class="font-weight-bold pt-2">ĐÓN TẾT NÀY THẬT KHÁC LẠ TẠI HIGHLANDS</p>
                <p><i class="fa-regular fa-calendar-days pr-2"></i>13/01/2023, 09:57</p>
            </span>
        </div>
        <div class="item">
            <img src="~/Assets/images/470_crop_New-App-launchingblog-thumbnail-3x.png" />
            <span class="text-center ">
                <p class="font-weight-bold pt-2">VỊ COOL SẢNG KHOÁI, TRÀ DƯA HẤU VẢI</p>
                <p><i class="fa-regular fa-calendar-days pr-2"></i>28/12/2022, 20:24</p>
            </span>
        </div>
    </div>
</div>

