@model ShopNuocOnline.Models.Product
@{
    ViewBag.Title = "ChiTiet1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container row mt-5" style="margin-top:100px">

    <div class="col-4 pt-5">

        <img style="width:300px;height:300px" class="card-img-top" src="@Model.Image" alt="Card image cap">
    </div>
    <div style="margin-top:100px" class="content col-8 ">
        <h2 class="card-title text-center">@Model.Name</h2>
        <p class="font-italic" style="font-size:20px">
            @Model.Description
        </p>
        <h4>Giá: $@Model.ProductPrice</h4>
        <div class="d-flex">
            <button class="btn btn-danger" onclick="giam()">-</button>
            <p style="font-size:20px" id="qty" class="border-2 text-center d-flex justify-content-center align-items-center mt-2 font-weight-bold" style="width:30px;height:30px;">1</p>
            <button class="btn btn-warning" onclick="tang()">+</button>
            <button style="margin-left:40px;font-size:20px;padding:10px 60px;background-color:orange;margin-top:10px;border-radius:15px" onclick="addItem(@Model.Id)">Thêm vào giỏ</button>

        </div>
        <button style="font-size:20px;padding:10px 60px;background-color:cornflowerblue;margin-top:10px;border-radius:15px">Liên Hệ Shop</button>
        <button style="font-size: 20px; padding: 10px 60px; background-color: cornflowerblue; margin-top: 10px; border-radius: 15px">Review Sản Phẩm</button>
    </div>

</div>
<script>
    function tang() {
        const qty = document.getElementById('qty');
        qty.innerHTML = Number(qty.innerHTML) + 1;
    }
    function giam() {
        const qty = document.getElementById('qty');
        if (qty.innerHTML == 1) {
            return;
        }
        qty.innerHTML = Number(qty.innerHTML) - 1;
    }
    function addItem(id) {
        const qty = document.getElementById('qty').innerHTML;
        location.href = `/Cart/AddItem/?id=${id}&qty=${qty}`;
    }
</script>