
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container row mt-5" style="margin-top:100px">
  
    <div class="col-4 pt-5">

        <img style="width:300px;height:300px" class="card-img-top" src="~/Assets//images/3334.png" alt="Card image cap">
    </div>
    <div style="margin-top:100px" class="content col-8 ">
        <h2 class="card-title text-center">Juice Lemon</h2>
        <p class="font-italic" style="font-size:20px">
            Nước ép hoa quả hay nước ép trái cây là thức uống quen thuộc, thậm chí, với nhiều người, đây còn là một phần không thể thiếu trong thực đơn mỗi ngày. Thế nhưng, cũng chính sự quen thuộc, phổ biến và “ỷ y” là có lợi cho sức khỏe mà chúng ta đôi khi quên mất rằng nếu uống sai cách thì lợi có thể biến thành hại.

            Bài viết sau Hello Bacsi sẽ cung cấp cho bạn một số thông tin xoay quanh việc uống nước ép trái cây đúng cách, đồng thời giải đáp một số băn khoăn thường gặp như có nên uống nước ép trái cây vào buổi tối, uống nước ép trái cây mỗi ngày có tốt không, đâu là các loại nước ép trái cây tốt cho sức khỏe…
        </p>
        <div class="d-flex">
            <button class="btn btn-danger">-</button>
            <p style="font-size:20px" class="border-2 text-center d-flex justify-content-center align-items-center mt-2 font-weight-bold" style="width:30px;height:30px;">10</p>
            <button class="btn btn-warning">+</button>
            <button style="margin-left:40px;font-size:20px;padding:10px 60px;background-color:orange;margin-top:10px;border-radius:15px">Mua Ngay</button>

        </div>
        <button style="font-size:20px;padding:10px 60px;background-color:cornflowerblue;margin-top:10px;border-radius:15px">Liên Hệ Shop</button>
        <button style="font-size: 20px; padding: 10px 60px; background-color: cornflowerblue; margin-top: 10px; border-radius: 15px">Review Sản Phẩm</button>
    </div>

</div>
